body {
    background-image: url(imagenes/fondo5_login.webp);
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Arial', sans-serif; /* Fuente más profesional */
}


/* Otros estilos de la página */
.nav__principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #222;
    background: #1117;
    backdrop-filter: blur(10px); /* Color de fondo del menú */
    padding: 30px 20px; /* Espaciado interno del menú */
}

.nav__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    margin-right: 20px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav__link:hover {
    color: #ffcc00; /* Color de hover para los enlaces */
}


.imgs__menu{
    width: 40px;
    height: 40px;
    padding-right:5px;
    padding-left:0px;
}

.imgs__buscar{
    margin-left: -40px;
    margin-top: -4vh;
    width: 30px;
    height: 30px;
    padding-right:5px;
    padding-left:0px;
    position: absolute;
}

/* Imagen del usuario */
.img__usuario {
    width: 70px; /* Ajustar el tamaño de la imagen del usuario */
    height: 70px;
    margin-top: 0px;
    margin-left: -180px;
    padding-right: 20px;
}

.img__usuario:hover{
    padding-left: 5px;
}


/* Lista del menú */
.nav__list {
    list-style: none; /* Quitar puntos de lista */
    padding: 0; /* Quitar padding de la lista */
    margin: 0; /* Quitar margin de la lista */
    display: flex; /* Usar flexbox para alinear horizontalmente */
    flex-wrap: wrap; /* Permitir que los elementos se ajusten a múltiples líneas si es necesario */
}

/* Elemento del menú */
.nav__item {
    margin: 0 40px; /* Margen horizontal entre elementos del menú */
    font-size: 25px;
}

.nav__buscar{
    margin-top: 1vb;
    margin-left: 10vb;
}
/* Enlace del menú */
.nav__link {
    text-decoration: none; /* Quitar subrayado */
    color:white; /* Color del texto */
    display: flex; /* Usar flexbox para alinear imagen y texto */
    align-items: center; /* Centrar verticalmente */
    padding: 8px 12px; /* Padding interno para el enlace */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el hover */
    backdrop-filter: (10);
}

.nav__link__buscar{
    width: 300px;
    height: 20px;
}
/* Hover del enlace del menú */
.nav__link:hover {
    background-color: #303030; /* Color de fondo al hacer hover */
}

/* Estilo para cerrar sesión */
.nav__item__user {
    margin-left: auto; /* Alinear a la derecha */
}

.cerrar__sesion__link {
    display: flex; /* Usar flexbox para alinear imagen y texto */
    align-items: center; /* Centrar verticalmente */
    text-decoration: none; /* Quitar subrayado */
    color: #ffffff;/* Color del texto */
    font-size: 25px; 
    margin-top: -20px;
    margin-left: 15vw;
    position:absolute;
}

.cerrar__sesion__link:hover{
    padding-left: 5px;
}

/* Botón de cerrar sesión */
.cerrar__sesion {
    font-weight: bold; /* Hacer el texto en negrita */
}

/* Estilo para el menú lateral */
.menu_lateral {
    position: fixed;
    left: -250px; /* Oculto fuera de la pantalla inicialmente */
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease; /* Transición suave al mostrar/ocultar */
    z-index: 20;
}

.menu_lateral.active {
    left: 0; /* Despliega el menú lateral al hacer clic en el enlace "Servicios" */
}

.link_servicios{
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-left: 5vh;
    padding-bottom: 3vh;
    position: absolute;
    margin-top: 3vh;
}



.link_servicios2{
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-left: 5vh;
    padding-bottom: 3vh;
    position: absolute;
    margin-top: 3vh;

}

.link_servicios3{
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-left: 4vh;
    padding-bottom: 3vh;
    position: absolute;
    margin-top: 1vh;

}

.recuadro_menu{
    /* position: relative; */
    margin-top: 1.5vw;
    margin-left: 2vh;
    width: 20vh;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 40px; 
    border: 2px solid black;
    margin-bottom: 20px;
    /* z-index: 20; */
}

.recuadro_menu2{
    width: 21vh;
    height: 10vh;

}
.recuadro_menu3{
    width: 22vh;
}

.noticias {
    width: 185vh;
    height: 40vh;
    background-color: gray;
    border: 1px solid black;
    position: relative;
    margin-top: 10vh;
    margin-left: 12vh;
    border-radius: 20px;
    overflow: hidden;
}
.carousel {
    display: flex; /* Cambiado para alineación en fila */
    width: 500%; /* Ajuste basado en el número de imágenes */
    height: 100%;
    transition: transform 0.5s ease;
}
.carousel img {
    width: 50%; /* Asegura que las imágenes ocupen el ancho total del contenedor */
    height: 100%;
    object-fit: cover;
    flex-shrink: 30px; /* Evita que las imágenes se reduzcan */
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.left-arrow {
    left: 10px;
}
.right-arrow {
    right: 10px;
}
a{
    text-decoration: none;
}

/* Contenedor para los cuadros de perfil */
/* Contenedor para los cuadros de perfil */
.cuadros_perfiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centra los cuadros en cada fila */
    margin-top: 20px; /* Ajusta según el espacio que quieras arriba */    
}

a{
    text-decoration: none;
}
/* Estilos para cada cuadro de perfil */
.cuadro_perfil {
    background-color: #222;
    background: rgba(99, 98, 98, 0.467);
    backdrop-filter: blur(10px);
    width: 150px;
    height: 200px;
    margin: 20px;
    position: relative; /* Mantener relativo para poder aplicar el hover */
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cuadro_perfil:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cuadro_perfil h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.cuadro_perfil:hover h3 {
    color: #ffcc00;
}

.cuadro_perfil p {
    margin: 5px 0;
    font-size: 16px;
    color: black;
}

.cuadro_perfil p strong {
    color: black;
}

/* Estilo para el enlace dentro del cuadro de perfil */
.cuadro_perfil a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #28a745;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    
}

.cuadro_perfil a:hover {
    background-color: #218838;
}

/* Estilo para el recuadro de la foto de perfil */

.foto_perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #888;
    background-image: url(imagenes/user_verde.png);
    background-color: transparent;
    background-size: cover;
}


/* Estilos para la ventana de chat */
.chat_window {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Oculto inicialmente */
    flex-direction: column;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.chat_window.visible {
    display: flex; /* Muestra la ventana al agregar la clase 'visible' */
}

.chat_header {
    padding: 10px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_content {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.close_chat {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Contenedor para los cuadros de perfil */




