body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../../Imagenes/fondogg3.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
}

.header {
    background: #1117;
    backdrop-filter: blur(10px);
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(143, 187, 138, 0.1);
}

.logo {
    max-width: 400px;
}

.logo:hover{
    transform: scale(1.1);
    filter: brightness(1.2);
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the input */
    left: 50%;
    margin-left: -110px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    margin-left: 300px;
    position: absolute;
    border-radius: 50px;
}

.register-container {
    background: #1117;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    max-width: 400px;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.register-box h2 {
    margin: 0 0 20px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-family: 'Roboto', sans-serif;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 500px;
}

.input-group input,
.input-group select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.input-group input:focus,
.input-group select:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.regresar{
    background: #3d9970; /* Verde oliva */
    color: white;
    font-family: 'Poppins', sans-serif; /* Asegurando la misma fuente */
    font-size: 16px; /* Asegurando el mismo tama침o de letra */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 44%;
    height: 40px;
    transition: background 0.3s ease, transform 0.3s;
    padding-top: 20px;
}

.input[type="submit"]:hover, .regresar:hover {
    background: #2d6e50; /* Verde oliva m치s oscuro */
    transform: scale(1.05);
}

input[type="submit"]:active, .regresar:active {
    transform: scale(1);
}

.buttons {
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    margin-left: -10px;
}

input[type="submit"] {
    background: #3d9970; /* Verde oliva */
    color: white;
    font-family: 'Poppins', sans-serif; /* Asegurando la misma fuente */
    font-size: 16px; /* Asegurando el mismo tama침o de letra */
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 44%;
    height: 60px;
    transition: background 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover, .button:hover {
    background: #2d6e50; /* Verde oliva m치s oscuro */
    transform: scale(1.05);
}

input[type="submit"]:active, .button:active {
    transform: scale(1);
}

.footer {
    background: #1117;
    backdrop-filter: blur(10px);
    text-align: center;
    text-align: center;
    padding: 10px;
    color: #fff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .register-container {
        padding: 20px;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons .button, .buttons input[type="submit"] {
        width: 100%;
        margin-bottom: 10px;
    }
}
